---
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="my blog" description="my blog web page via astro framework">
    <h1> hi from index page </h1>
</MainLayout>
